/* Background */
.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #CBECFF, #F7EFFF);

}

/* Password Box */
.password-box {
    display: flex;
    /* background: white; */
    width: 900px;
    border-radius: 10px;
    /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
}

/* Left Section */
.password-left {
    width: 50%;
    padding: 40px;
    text-align: center;
}

.password-title {
    font-size: 24px;
    font-weight: bold;
    color: #134a81;
}

.lock-icon img {
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

.password-heading {
    font-size: 22px;
    font-weight: bold;
    color: #134a81;
}

.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

/* Input Fields */
.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Reset Button */
.password-btn {
    width: 100%;
    padding: 10px;
    background-color: #134a81 !important;
    color: white !important;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.password-btn:hover {
    background-color: #05325f;
}

/* Right Section (Placeholder for Image) */
.password-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    padding-left: 20px;
}


