.empDashboard{
    width: 78%;
    margin-top: 10px;
    position: absolute;
    left: 20%;
    top: 12%;
   
  
  }

  .empDashboard .titleE
  {
      /* background-color: blueviolet; */
      margin-top: 10px;
  }
  
  .empDashboard .titleE h1{
    font-size: 28px;
    font-weight: bold;
    color: #333;

  }
  
  .empDashboard .breadcrumb-wrapper .breadcrumb {
      /* margin-left: 320px; */
      font-size: 16px;
      /* font-weight: 500; */
      color: black;
    }
    
    .empDashboard .breadcrumb-wrapper .breadcrumb li {
      display: flex;
      align-items: center;
    }
    
    .empDashboard .breadcrumb-wrapper .breadcrumb .breadcrumb-link {
      text-decoration: none;
      color: gray;
    }
    
    .empDashboard .breadcrumb-wrapper .breadcrumb .breadcrumb-link:hover {
      text-decoration: underline;
      color: black;
    }
    
    .empDashboard .breadcrumb-wrapper .breadcrumb .breadcrumb-separator {
      margin: 0 8px;
      color: black;
    }
    
    .empDashboard .breadcrumb-wrapper .breadcrumb .breadcrumb-current {
      /* font-weight: bold; */
      color: black;
    }
    
    .empDashboard .breadcrumb-wrapper .breadcrumb .home-icon {
      font-size: 20px;
      color: black;
    }
  
  
  .empDashboard .breadcrumb-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  
  
  .empDashboard .emp-container{
      /* margin-left: 21%; */
      display: flex;
      gap: 20px;
      flex-direction: column;
  }
  
  .empDashboard .emp-container .emp-cards{
      display: flex;
      gap: 20px;
      
  }
  
  /*first card*/
  .empDashboard .emp-container .emp-cards .emp-card{
      flex: 1;
      border: 1px solid rgba(128, 128, 128, 0.514);
      background: rgba(255, 255, 255, 0.627);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .empDashboard .emp-container .emp-cards .emp-card .emp-header{
      display: flex;
      background-color: black;
      color: white;
      padding: 10px 10px 2px 20px;
      gap: 30px;
      border-radius: 10px 10px 0px 0px;
  }
  
  .empDashboard .emp-container .emp-cards .emp-card .emp-header p{
    font-size: small;
  }
  
  .empDashboard .emp-container .emp-cards .emp-card .emp-body h6{
    margin-bottom: 0px;
    font-weight: bold;
  }
  
  .empDashboard .emp-container .emp-cards .emp-card .emp-body{
    padding: 20px 0px 0px 20px;
  }
  
  
  /*second card*/
  .empDashboard .emp-container .emp-cards .emp-card .leave-header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px 0px 10px;
    border-radius: 10px 10px 0px 0px;
  }
  
  .empDashboard .emp-container .emp-cards .emp-card .chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Creates space between legend and chart */
    padding: 0px 10px 0px 10px;
  }
  
  .empDashboard .emp-container .emp-cards .emp-card .chart-container .custom-legend {
    display: flex;
    flex-direction: column;
  }
  
  .empDashboard .emp-container .emp-cards .emp-card .chart-container .custom-legend .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .empDashboard .emp-container .emp-cards .emp-card .chart-container .custom-legend .legend-item .legend-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
  }
  
  /*third card*/
  .empDashboard .emp-container .emp-cards .emp-card .leave-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
  }
  
  .empDashboard .emp-container .emp-cards .emp-card .leave-summary .summary-grid{
    display: flex;
    gap: 60px;
    margin-bottom: 20px;
  }
  
  .empDashboard .emp-container .emp-cards .emp-card .leave-summary .apply-leave-btn {
    background: linear-gradient(to right, #673AB7 0%, #2196F3 100%);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
  }
  
  .empDashboard .emp-container .emp-cards .emp-card .leave-summary .apply-leave-btn:hover {
    background-color: #008d45;
  }
  
  
  /*row-2*/
  /*attendence*/
  .empDashboard .emp-container .roww-2{
    display: flex;
    gap: 10px;
  } 
  
  .empDashboard .emp-container .roww-2 .emp-card .attendance-card {
    width: 300px;
    /* background: #ffffff; */
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 1px solid rgba(128, 128, 128, 0.514);

    background: rgba(255, 255, 255, 0.627);
  backdrop-filter: blur(12px);
  }
  
  .empDashboard .emp-container .roww-2 .emp-card .attendance-card h6 {
    margin-bottom: 5px;
    color: #333;
  }
  
  .empDashboard .emp-container .roww-2 .emp-card .attendance-card p {
    margin: 5px 0;
  }
  
  .empDashboard .emp-container .roww-2 .emp-card .attendance-card .chart-container1 {
    display: flex;
    align-items: center;
    height: 150px;
  }
  
  .empDashboard .emp-container .roww-2 .emp-card .attendance-card .production-info {
    background: #000;
    color: #fff;
    padding: 8px;
    margin-left: 27px;
    width: 200px;
    border-radius: 5px;
    font-size: 14px;
  
    /* margin: 10px 0; */
  }
  
  .empDashboard .emp-container .roww-2 .emp-card .attendance-card button {
    background: #ff6600;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 257px;
  }
  
  .empDashboard .emp-container .roww-2 .emp-card .attendance-card .punch-out-btn:hover {
    background: #e65c00;
  }
  
  .empDashboard .emp-container .roww-2 .emp-card .attendance-card  .piecha{
    flex: 1;
    padding-left: 20px;
  }
  
  
  /*row-2 col-2*/
  .empDashboard .emp-container .roww-2 .r2-c2{
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  .empDashboard .emp-container .roww-2 .r2-c2 .insiderow{
    display: flex;
    gap: 10px;
  }
  
  /*4 boxes*/
  .empDashboard .emp-container .roww-2 .r2-c2 .insiderow .emp-card{
    /* background-color: white; */
    height: 150px;
    padding: 10px 0px 5px 20px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.514);
    background: rgba(255, 255, 255, 0.627);
    backdrop-filter: blur(12px);
    flex: 1;
    box-shadow: 5px 5px 15px rgba(0 0 0 / 20%);
  }
  
  /*timeline*/
  .empDashboard .emp-container .roww-2 .r2-c2 #timeline {
    font-family: Arial, sans-serif;
    padding: 20px;
    /* background: #fff; */
    border-radius: 8px;
  
    flex: 1;
    border: 1px solid rgba(128, 128, 128, 0.514);
    background: rgba(255, 255, 255, 0.627);
  backdrop-filter: blur(12px);
  }
  
  /*roww-3*/
  .empDashboard .emp-container .roww-3{
    display: flex;
    gap: 20px;
  } 
  
  /*myskills*/
  .empDashboard .emp-container .roww-3 .myskills{
    flex: 1;
    border: 1px solid rgba(128, 128, 128, 0.514);
    background: rgba(255, 255, 255, 0.627);
  backdrop-filter: blur(12px);
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0 0 0 / 20%);
  }
  
  .empDashboard .emp-container .roww-3 .leave-header{
    display: flex;
    justify-content: space-between;
    padding: 8px 20px 0px 10px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid #33333342;
  }
  
  .empDashboard .emp-container .roww-3 .custom-legend {
    display: flex;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
  }
  
  .empDashboard .emp-container .roww-3 .custom-legend .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .empDashboard .emp-container .roww-3 .custom-legend .legend-item .legend-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
  }
  
  .empDashboard .emp-container .roww-3 .custom-legend .chart-container1 {
    display: flex;
    align-items: center;
    height: 50px;
  }
  
  .empDashboard .emp-container .roww-3 .custom-legend .chart-container1  .piecha{
    flex: 1;
    padding-left: 20px;
  }
  
  
  /*tasks*/
  .empDashboard .emp-container .roww-3 .task-table {
    width: 38%;
    border: 1px solid rgba(128, 128, 128, 0.514);
    background: rgba(255, 255, 255, 0.627);
    backdrop-filter: blur(12px);
    border-radius: 8px;

    outline: 1px solid #0000005b;
    box-shadow: 5px 5px 15px rgba(0 0 0 / 20%);
}
 
.empDashboard .emp-container .roww-3 .task-table .task-heading{
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
}

.empDashboard .emp-container .roww-3 .task-table .task-body{
  height: auto ;
  margin: 20px 10px;
  border-radius: 8px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.201);
  
  /* padding-top: 20px; */
 /* background-color: #008d45; */

}
.empDashboard .emp-container .roww-3 .task-table .task-body .task-name{
 width: 70%;
 padding: 5px;
 /* height: 50px; */
}
.empDashboard .emp-container .roww-3 .task-table .task-body .task-status{
  width: 30%;
  padding: 5px;
  /* height: 50px; */
 }

  
.empDashboard .emp-container .roww-3 .team-member{
  flex: 1;
  border: 1px solid rgba(128, 128, 128, 0.514);
  background: rgba(255, 255, 255, 0.627);
backdrop-filter: blur(12px);
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0 0 0 / 20%);
}
.empDashboard .emp-container .roww-3 .team-member .custom-legend .chart-container1 {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 5px;
}
.empDashboard .emp-container .roww-3 .team-member .custom-legend .chart-container1 .icon{
  margin-right: 1px;
  padding: 5px;
}
.empDashboard .emp-container .roww-3 .team-member .custom-legend .chart-container1 .icon:hover{
  background-color: rgba(50, 226, 103, 0.541);
  border-radius: 40px;
  height: 30px;
  width: 30px;
}
  
  