.emp-attendance{
    width: 78%;
    margin-top: 10px;
    position: absolute;
    left: 20%;
    top: 12%; 
}

.emp-attendance .titleE
{
    /* background-color: blueviolet; */
    margin-top: 10px;
}

.emp-attendance .titleE h1{
    /* margin-left: 320px;
    margin-top: 30px; */
    font-size: 30px;
    color: blue;
}

.emp-attendance .breadcrumb-wrapper .breadcrumb {
    /* margin-left: 320px; */
    font-size: 16px;
    font-weight: 500;
    color: black;
  }
  
.emp-attendance .breadcrumb-wrapper .breadcrumb li {
    display: flex;
    align-items: center;
  }
  
.emp-attendance .breadcrumb-wrapper .breadcrumb .breadcrumb-link {
    text-decoration: none;
    color: gray;
  }
  
.emp-attendance .breadcrumb-wrapper .breadcrumb .breadcrumb-link:hover {
    text-decoration: underline;
    color: black;
  }
  
.emp-attendance .breadcrumb-wrapper .breadcrumb .breadcrumb-separator {
    margin: 0 8px;
    color: black;
  }
  
.emp-attendance .breadcrumb-wrapper .breadcrumb .breadcrumb-current {
    font-weight: bold;
    color: black;
  }
  
.emp-attendance .breadcrumb-wrapper .breadcrumb .home-icon {
    font-size: 20px;
    color: black;
  }

.emp-attendance .breadcrumb-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

.emp-attendance .emp-container{
    display: flex;
    gap: 2px;
    flex-direction: column;
}

/*row-1*/
.emp-attendance .emp-container .row1{
    display: flex;
    gap: 10px;
    
}

/*attendence*/

.emp-attendance .emp-container .row1 .emp-card .attendance-card {
    width: 300px;
    
    border-radius: 12px;
    padding: 40px 20px 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 1px solid rgba(128, 128, 128, 0.514);
    background: rgba(255, 255, 255, 0.627);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .emp-attendance .emp-container .row1 .emp-card .attendance-card h6 {
    margin-bottom: 5px;
    color: #333333ca;
    font-size: 14px;
  }
  
  .emp-attendance .emp-container .row1 .emp-card .attendance-card p {
    margin: 5px 0;
  }

  .emp-attendance .emp-container .row1 .emp-card .attendance-card .production-info {
    background: #ff6600;
    color: #fff;
    padding: 5px;
    margin-left: 27px;
    width: 200px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  
    /* margin: 10px 0; */
  }
  
  .emp-attendance .emp-container .row1 .emp-card .attendance-card button {
    background: black;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 257px;
  }
  
  .emp-attendance .emp-container .row1 .emp-card .attendance-card .punch-out-btn:hover {
    background: #e65c00;
  } 

/*row-1 col-2*/
.emp-attendance .emp-container .row1 .r1-c2{
    flex: 2;
    display: flex;
    gap: 3px;
    flex-direction: column;
}

.emp-attendance .emp-container .row1 .r1-c2 .insiderow{
    display: flex;
    gap: 10px;
}

/*4 boxes*/
.emp-attendance .emp-container .row1 .r1-c2 .insiderow .emp-card{
    /* background-color: white; */
    padding: 10px 0px 5px 20px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.514);
    flex: 1;
    background: rgba(255, 255, 255, 0.627);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/*timeline*/
.emp-attendance .emp-container .row1 .r1-c2 .timeline{
    font-family: Arial, sans-serif;
    padding: 20px;
    /* background: #fff; */
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.514);
    flex: 1;
    background: rgba(255, 255, 255, 0.627);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/*row2*/
.emp-attendance .emp-container .row2{
    /* background-color: white; */
    font-family: Arial, sans-serif;
    border-radius: 8px;
    padding: 10px 0px 10px 0px;
    border: 1px solid rgba(128, 128, 128, 0.514);
    background: rgba(255, 255, 255, 0.627);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.emp-attendance .emp-container .row2 .emp-list-contrainer{
  display: flex;
  padding: 5px 20px 0px 20px; 
}

.emp-attendance .emp-container .row2 .emp-list-contrainer h6{
  flex: 1;
  padding-top: 5px;
  font-weight: bold;
}
.emp-attendance .emp-container .row2 .emp-list-contrainer div{
  flex: 1;
}
/*filters*/
.emp-attendance .emp-container .row2 .emp-filters {
  width: 98%;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
  

.emp-attendance .emp-container .row2 .emp-table{
  width: 100%;
}
.emp-attendance .emp-container .row2 .emp-table table{
  width: 100%;
}
.emp-attendance .emp-container .row2 .emp-table table tbody tr td .emp-title{
color: #000 !important;
}

.emp-attendance .emp-container .row2 .emp-table table th{
padding-left: 15px;
border: none;
/* background-color: #e5e7eb !important; */

}

.emp-attendance .emp-container .row2 .emp-table table td{
padding-left: 15px;
}

.emp-attendance .emp-container .row2 .emp-table th{
height: 30px !important;
}

.emp-attendance .emp-container .row2 .emp-table table tbody tr{
height: 30px !important;
}
